#header
  .shell
    #head
      .row-top
        %h1#logo
          %a.notext{:href=>"#{STUDYEGG_STORE_PATH}"} Logo
        .usernav
          %a.first.active{:href=>"#{STUDYEGG_PATH}"} My Eggs
          %a{:href=>"#{STUDYEGG_STORE_PATH}"} Library
          %ul
            -if current_user.nil?
              %li
                %a.first.active{:href=>"#{STUDYEGG_USER_MANAGER_PATH}"} Login
            -else
              %li
                %a.first{:href=>"#{STUDYEGG_USER_MANAGER_PATH}/users/edit"} Account
              %li
                %a{:href=>"/logout"} Logout
        .cl